@(signupForm: Form[UserForm], refcode: Option[String])

@import helper._
@import helper.twitterBootstrap._

@main("Sign Up") {
    
    @helper.form(action = routes.SignUp.submit, 'class -> "form-inline") {

        @inputText(
            signupForm("email"), 
            '_label -> "Be the first to know",
            '_help -> "",
            'placeholder -> "youremail@example.com"
        )

        @helper.input(signupForm("refcode")) { (id, name, value, args) =>
            <input type="hidden" name="@name" id="@id" value="@refcode" @toHtmlArgs(args)>
        } 

        <input type="submit" class="btn btn-primary" value="Sign Up" />
    }
    
}