@(signupForm: Form[UserForm])

@import helper._
@import helper.twitterBootstrap._

@main("Sign Up") {
    
    @helper.form(action = routes.SignUp.submit, 'class -> "form-inline") {

        @inputText(
            signupForm("email"), '_label -> "Be the first to know",
            '_help -> "",
            'placeholder -> "youremail@example.com"
        )

        <input type="submit" class="btn btn-primary" value="Sign Up">
    }

    <script type="text/javascript">
	    $(document).ready(function() {
	  		$('#email').focus();
		});
	</script>
    
}