@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @if(play.Play.isProd()) {
	        <script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '@{play.Play.application().configuration().getString("google.analytics.account")}']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
		}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h1>Viral</h1>
                    <h3>Something cool is coming to your city.</h3>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                   @content
                </div>
            </div>
        </div>
    </body>
</html>
